.box{
    height: 200px;
    width: 400px;
    background-color: green;
}
@media screen and (min-width:1200px) {
    .box{
        background-color: blue;
    }
}
@media  screen and (min-width:1440px) {
    .box{
        background-color: pink;
    }
}